@import-normalize;

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2C2C2C;
    color: #E4E4E4;
    font-family: 'Ubuntu', Arial, sans-serif;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("./fonts/Ubuntu-Regular.ttf") format("woff2"),
  } */