@import-normalize;

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2C2C2C;
    color: #E4E4E4;
    font-family: 'Roboto', Arial, sans-serif;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("./fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
}
  
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:
      url("./fonts/roboto-v30-cyrillic_latin-italic.woff2") format("woff2"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url("./fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
      url("./fonts/roboto-v30-cyrillic_latin-900.woff2") format("woff2"),
}